<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @*when a view is rendered, it can either stand alone (in which case it should have alll the neede tags
        or it can choose to render within a layout*@
    <div>
        @*This is where the view goes*@
        @RenderBody()
    </div>
    <div>
        copyright revature
    </div>
</body>
</html>
